<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "login100-form validate-form" }) do |f| %>
  <span class="login100-form-title p-b-43">
		Cadastro
	</span>
  
  <div class="wrap-input100 validate-input" data-validate= "Nome completo é obrigatório">
    <%= f.text_field :name, class: "input100" %>
    <span class="focus-input100"></span>
    <%= f.label :name, class: "label-input100" %>
  </div>
  
  <div class="wrap-input100 validate-input" data-validate = "Email é obrigatório">
    <%= f.email_field :email, class: "input100"  %>
    <span class="focus-input100"></span>
    <%= f.label :email, class: "label-input100" %>
  </div>

  <div class="wrap-input100 validate-input" data-validate="Senha é obrigatória">
    <%= f.password_field :password, autocomplete: "current-password", class: "input100" %>
    <span class="focus-input100"></span>  
    <%= f.label :password, class: "label-input100" %>
  </div>

  <div class="wrap-input100 validate-input" data-validate="É necessário confirmar sua senha">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input100" %>
    <span class="focus-input100"></span>  
    <%= f.label :password_confirmation, class: "label-input100" %>
  </div>

  <div class="container-login100-form-btn">
    <%= f.submit "Criar sua conta", class: "login100-form-btn" %>
  </div>

<% end %>