<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "login100-form validate-form" }) do |f| %>
  <span class="login100-form-title p-b-43">
		Cadastro
	</span>
  
  <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
    <%= f.email_field :email, class: "input100", type: "text", name: "email"  %>
    <span class="focus-input100"></span>
    <%= f.label :email, class: "label-input100" %>
  </div>

  <div class="wrap-input100 validate-input" data-validate="Password is required">
    <%= f.password_field :password, autocomplete: "current-password", class: "input100",  type: "password", name: "pass" %>
    <span class="focus-input100"></span>  
    <%= f.label :password, class: "label-input100" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "input100",  type: "password", name: "pass" %>
    <span class="focus-input100"></span>  
    <%= f.label :password_confirmation, class: "label-input100" %>
  </div>

  <div class="container-login100-form-btn">
    <%= f.submit "Criar sua conta", class: "login100-form-btn" %>
  </div>

<% end %>

<%= render "devise/shared/links" %>