<%= form_with(model: user, local: true) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      	<h2><%= pluralize(@user.errors.count, "error") %> O nome do usuário não foi salvo:</h2>

      	<ul>
        	<% @user.errors.full_messages.each do |message| %>
          	<li><%= message %></li>
        	<% end %>
      	</ul>

    </div>
  <% end %>

  <div class="col-12 text-center my-5">
    <h1>Trocar seu nome</h1>
    <div class="field my-5">
      <%= form.label :name %>
      <%= form.text_area :name %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>

<% end %>