<div class="container">
  <div class="row">
    <div class="col-12 text-center my-5">
      <h1 class="display-5"><%= @simulado.title %></h1>
      <br>
      <%= form_tag finish_simulado_path do %>
        <% @simulado.topics.each do |topic| %>
          <p class="lead"><%= topic.title %></p>
          <br>
          <% topic.questions.each do |question| %>
            <p><%= question.title %></p>
            <p><%= question.enunciated %></p>
            <br>
              <% question.alternatives.each do |alternative| %>
                <p><%= alternative.letter %>) <%= alternative.text %></p>
                <br>
              </p>
              <% end %>
              <label class="radio-inline mr-3"><%= radio_button_tag "question-#{question.id}", 'a' %>A</label>
              <label class="radio-inline mr-3"><%= radio_button_tag "question-#{question.id}", 'b' %>B</label>
              <label class="radio-inline mr-3"><%= radio_button_tag "question-#{question.id}", 'c' %>C</label>
              <label class="radio-inline mr-3"><%= radio_button_tag "question-#{question.id}", 'd' %>D</label>
          <% end %>
        <% end %>
        <div><%= submit_tag 'Enviar Simulado' %></div>
      <% end %>
    </div>
  </div>
</div>