<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @simulado.title %>
</p>

<p>
  <strong>Subject:</strong>
  <%= @simulado.subject %>
</p>

<p>
  <strong>Description:</strong>
  <%= @simulado.description %>
</p>

<p>
  <strong>Question:</strong>
  <%= @simulado.question %>
</p>

<%= link_to 'Edit', edit_simulado_path(@simulado) %> |
<%= link_to 'Back', simulados_path %>
