<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "login100-form validate-form" }) do |f| %>
  <span class="login100-form-title p-b-43">
		Login
	</span>
  
  <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
    <%= f.email_field :email, class: "input100", type: "text", name: "email"  %>
    <span class="focus-input100"></span>
    <%= f.label :email, class: "label-input100" %>
  </div>

  <div class="wrap-input100 validate-input" data-validate="Password is required">
    <%= f.password_field :password, autocomplete: "current-password", class: "input100",  type: "password", name: "pass" %>
    <span class="focus-input100"></span>
    <%= f.label :password, class: "label-input100" %>
  </div>

  <div class="flex-sb-m w-full p-t-3 p-b-32">
    <% if devise_mapping.rememberable? %>
      <div class="contact100-form-checkbox">
        <%= f.check_box :remember_me, class: "input-checkbox100", id: "ckb1", type: "checkbox", name: "remember-me" %>
        <%= f.label :remember_me, class: "label-checkbox100", for: "ckb1" %>
      </div>
    <% end %>

      <div>
				<%= link_to "Esqueceu sua senha?", class: "txt1" %>
			</div>

	</div>

  <div class="container-login100-form-btn">
    <%= f.submit "Entrar", class: "login100-form-btn" %>
  </div>

<% end %>