<%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "login100-form validate-form" }) do |f| %>
  <span class="login100-form-title p-b-43">
		Login
	</span>
  
  <div class="wrap-input100 validate-input" data-validate = "Email é obrigatório">
    <%= f.email_field :email, class: "input100" %>
    <span class="focus-input100"></span>
    <%= f.label :email, class: "label-input100" %>
  </div>

  <div class="wrap-input100 validate-input" data-validate= "Senha é obrigatória">
    <%= f.password_field :password, autocomplete: "current-password", class: "input100" %>
    <span class="focus-input100"></span>
    <%= f.label :password, class: "label-input100" %>
  </div>

  <div class="flex-sb-m w-full p-t-3 p-b-32">
    <% if devise_mapping.rememberable? %>
      <div class="contact100-form-checkbox">
        <%= f.check_box :remember_me, class: "input-checkbox100", id: "ckb1" %>
        <%= f.label :remember_me, class: "label-checkbox100" %>
      </div>
    <% end %>

      <div>
        <%= link_to("Esqueceu sua senha?", new_user_password_path, id:"forget-password", class: "txt1") %>
			</div>

	</div>

  <div class="container-login100-form-btn">
    <%= f.submit "Entrar", class: "login100-form-btn" %>
  </div>

<% end %>